.containerCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.card {
    background-color: var(--color-background-contrast);
    color: white;
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-background);
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: var(--color-sucess);
    margin-bottom: 0.75rem;
    font-size: 2rem;
    font-family: 'Oswald', Arial, sans-serif;
}

h1 {
    color: var(--color-sucess);
    margin-bottom: 0.75rem;
    font-size: 2rem;
    font-family: 'Oswald', Arial, sans-serif;
}

.card p {
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.4;
    font-family: "Roboto";
}

.card a {
    align-self: flex-start;
    text-decoration: none;
    color: var(--color-action);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.card a:hover {
    text-decoration: underline;
}

.card li::marker {
    color: var(--color-sucess)
}

.testeConhecimento {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

.cardTesteConhecimentoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: auto auto;
    max-width: 600px;
    max-height: 300px;
    grid-auto-rows: 1fr;

}

.cardTesteConhecimento {
    background: var(--color-background-contrast);
    color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid var(--color-background);
    box-shadow: 1px 0px  var(--color-background);

}

.cardTesteConhecimentoContainer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.cardTesteConhecimentoContainer p {
    font-size: .8rem;
}