:root {
    --color-action: #9168E6;          
    --color-background: #312F68;             
    --color-background-contrast: #101026;   
    --color-Second: #331B60;          
    --color-Thirt: #24153D;       
    --color-sucess: #3AB584;           
    --color-light-text: #F0E6FF; 
    --color-button-default: #0a7700;      
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    font-family: "Oswald", "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--color-background-contrast);
    color: white;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

body h1,h2{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

body h3, h4, h5, h6, p, a, span{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


main {
    margin: 2vh 2vw;
}