:root {
    --color-action: #9168E6;          
    --color-background: #312F68;             
    --color-background-contrast: #101026;   
    --color-Second: #331B60;          
    --color-Thirt: #24153D;       
    --color-sucess: #3AB584;           
    --color-light-text: #F0E6FF;       
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: white;
}

main {
    margin: 2vh 2vw;
}