.footerContainer {
    background: white;
    color: black;
    padding: 2vw 1vh;
    border-top: 0.25rem solid var(--color-background-contrast);
    border-radius: 1rem 1rem 0 0;

}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.mesoName {
    color: green;
    margin-bottom: 0.5rem;
}

.footerContainer h3{
    color: var(--color-Second)
}

.mindsName{
    color: blue;
}

.grid-item a,
.grid-item p {
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.grid-item a:hover {
    color: var(--color-action);
}

@media (min-width: 600px) {
    .footerGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}