nav {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    min-height: 60px;
    margin-top: 1vh;
}

nav .logo {
    margin-bottom: 0.5rem;
    max-width: 60px;
    max-height: 60px;
}

nav img {
    width: 100%;
    height: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0.45rem;
}

.loginButton a {
    background-color: var(--color-action);
    border-radius: 1.25rem;
    transition: all 0.1s ease;
    display: inline-block;
    padding: 0.7vw 0.7vh;
    font-size: 1.1rem;
    color: white;
    width: 100%;
    box-shadow: 1px 1px 1px var(--color-background-contrast);
}

.loginButton a:hover {
    opacity: .8;
    transform: translateY(-2px);
}

@media (min-width: 600px) {
    nav a {
        margin: 0 1rem;
        font-size: 1rem;
    }

    .loginButton a {
        background-color: var(--color-action);
        border-radius: 0.8rem;
        box-shadow: 1px 1px 1px var(--color-background-contrast);
        transition: all 0.1s ease;
        padding: .3rem;
        font-size: .8rem;
        width: 8vw;
    }

    .loginButton a:hover {
        opacity: .8;
        transform: translateY(-2px);
    }

}

@media (min-width: 1024px) {
    nav a {
        margin: 0 1rem;
        font-size: 1.3rem;
    }

    .loginButton a {
        background-color: var(--color-action);
        border-radius: 0.8rem;
        transition: all 0.1s ease;
        padding: 0.3rem;
        font-size: 1rem;
        box-shadow: 1px 1px 1px var(--color-background-contrast);
        width: 8vw;

    }

    .loginButton a:hover {
        opacity: .8;
        transform: translateY(-2px);
    }
}